.grid-container{
    display: flex;
    justify-content: space-around;
}
.mission-name{
    text-align: start;
    font-weight: 600;
    color: blue;
}
.grid-cover, .side-bar{
    background-color: white;
    padding: 15px;
    box-shadow: 0px 3px 6px #00000016;
    width:20%;
    margin-bottom: 20px;
    border-radius: 5px;

}
.side-bar h4{
    text-align: start;
    margin: 0px
}
.side-bar p{
    border-bottom: 1px solid #e2e2e2;
    padding: 0px 0px 5px 0px;
   
    width: 150px;
    margin: auto;
}
.button-class {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.button-class button {
    border: none;
    border-radius: 3px;
    padding: 4px 10px;
    background: #0cc10cb8; 
    color: white;
}
.grid-cover img{
    width: 100%;
    background: #e2e2e2;
}
.grid-cover p{
 text-align: start;
}
.image-info ul {
    margin: 0px;
    /* padding-left: 0px; */
    color:blue;
    font-size: 12px;
}
.image-info p {
    border-bottom: unset;
    margin: 0px;
    font-size: 12px;
    text-align: start;
    font-weight: 700;
}
.image-info {
    display: flex;
    margin-top: 10px;
}
.image-info p span{
   color:blue;
    font-weight: 400;
}
.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
}
.another-class{
    display: none;
}
@media only screen and (max-width: 700px) {
    .content-container{
        width:auto
    }
    .side-bar{
        padding: 0px;
    }
    .grid-cover, .side-bar{
        width:100%;
       
    }
    .grid-container {
        display: unset; 
    }

  }
  @media only screen and (max-width: 1024px) and (min-width: 701px) {
    .content-container{
      display: none;
    }
    .another-class{
        display:block;
    }
    .grid-cover, .side-bar{
        width:44%;
    }
    .grid-container {
        flex-wrap: wrap; 
    }
   
  }
  @media only screen and (min-width: 1440px){
    

  }